section {
  padding: 20px;
  text-align: center;
  position: relative;
}

.background-image {
  background-image: url("../images/test2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
  font-size: 36px;
  text-align: center;
  max-width: 80%;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.quote p {
  margin: 0;
  position: relative;
}

#services {
  margin-top: 30px;
}

.title {
  text-align: center;
  color: #0eaa5c;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 60px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: rgb(255, 255, 255);
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.15);
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.card:before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 128, 0, 0), rgba(4, 161, 4, 0.8));
  transition: top 0.3s ease;
  z-index: -1;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover:before {
  top: 0;
}

.card .icon {
  font-size: 6em;
  text-align: center;
}

.card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: rgb(12, 6, 51);
}

.card p {
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.8);
}

.info p {
  color: rgb(0, 0, 0);
}

.opencontact {
  color: rgb(0, 0, 0);
}

.coachimage {
  width: 250px;
}

.plansimage {
  width: 250px;
}

.info h3 {
  color: rgb(12, 6, 51);
}

.coachcard h3 {
  color: rgb(12, 6, 51);
}

.coachcard p {
  color: black;
}

.shopimage {
  width: 240px;
  margin: 1px;
}

.shopcard h3 {
  color: rgb(12, 6, 51);
}

.shopcard p {
  color: black;
}

.popup-button {
  background-color: rgb(76, 175, 80);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: larger;
  border-radius: 30px;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10000;
}

.popup-button:hover {
  background-color: rgb(69, 160, 73);
}

.popup-button:focus {
  box-shadow: rgb(69, 160, 73);
}

.darkmode-button {
  background-color: rgb(76, 175, 80);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: larger;
  border-radius: 30px;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 10000;
}

.darkmode-button:hover {
  background-color: rgb(69, 160, 73);
}

.darkmode-button:focus {
  box-shadow: 0 0 0 2px rgb(69, 160, 73);
}

.popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.94);
  border-radius: 10px;
  z-index: 9999;
  box-shadow: 0 0 20px rgb(69, 160, 73);
}

.popup-container #close_quick_test_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  transition: color 0.3s ease;
}

.popup-container #close_quick_test_button:hover {
  color: rgb(102, 102, 102);
}

.popup-container.content {
  text-align: center;
}

.popup-container h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: rgb(51, 51, 51);
}

.popup-container label {
  display: inline-table;
  margin: 10px 0 0 10px; 
  color: rgb(51, 51, 51);
  width: 100%; 
}

.popup-container input[type="number"],
.popup-container select {
  width: 100% ; 
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 20px;
  font-size: 16px;
  box-sizing: border-box; 
  overflow: hidden; 
}

.right-content {
  color: white;
  text-align: center;
}

#result_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#result_label {
  margin: 0;
  margin-right: 10px;
}

#result {
  margin: 0;
  font-size: 15px;
}

.popup-container button {
  background-color: rgb(76, 175, 80);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-container button:hover {
  background-color: rgb(69, 160, 73);
}

.popup-container .result {
  margin-top: 20px;
}

.popup-container #result_label {
  margin-top: 0;
  margin-bottom: 10px;
  color: rgb(51, 51, 51);
}

.popup-container #result {
  color: rgb(51, 51, 51);
  font-size: 18px;
}
@media (max-width: 800px) {
  .background-image {
    height: 50vh; 
  }

  .quote {
    font-size: 30px; 
    max-width: 90%; 
    padding: 10px;
  }

  .popup-button {
    bottom: 10px; 
    right: 10px; 
    font-size: 16px; 
  }

  .popup-container {
    width: 90%; 
    max-width: 300px; 
    padding: 10px; 
  }

  .popup-container button {
    font-size: 16px; 
  }

  .popup-container input[type="number"],
  .popup-container select {
    font-size: 14px; 
  }
}




body.dark-mode {
  background-color: #333; /* Dark background color */
  color: #f0f0f0; /* Light text color */
}



.dark-mode .quote {
  color: #f0f0f0; /* Light text color for dark mode */
}

.dark-mode .title {
  color:  rgb(76, 175, 80);
}

.dark-mode .card {
  background-color: #333; /* Dark card background color */
  color: #f0f0f0; /* Light text color for dark mode */
}

.dark-mode .card:hover {
  transform: scale(1.05);
  background-color: #444; /* Darker hover background */
}

.dark-mode .info p,
.dark-mode .opencontact {
  color: #f0f0f0; /* Light text color for dark mode */
}

.dark-mode .coachcard h3,
.dark-mode .planscard h3,
.dark-mode .shopcard h3,
.dark-mode .info h3 {
  color: rgb(76, 175, 80);
}

.dark-mode .coachcard p,
.dark-mode .planscard p,
.dark-mode .shopcard p {
  color: #f0f0f0; /* Light text color for dark mode */
}

.dark-mode .popup-button,
.dark-mode .darkmode-button {
  background-color: #000; /* Dark button background color */
  color: #fff; /* White text color */
}

.dark-mode .popup-button:hover,
.dark-mode .darkmode-button:hover {
  background-color:  rgb(76, 175, 80);
}

.dark-mode .popup-button:focus,
.dark-mode .darkmode-button:focus {
  box-shadow: 0 0 0 2px #4caf50; /* Green focus outline for dark mode */
}

.dark-mode .popup-container {
  background-color: rgba(50, 50, 50, 0.94); /* Dark modal background color */
  color: #f0f0f0; /* Light text color for dark mode */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); /* Inverted shadow */
  
}

.dark-mode .popup-container #close_quick_test_button {
  color: #ccc; /* Lighter text color for dark mode */
}

.dark-mode .popup-container #close_quick_test_button:hover {
  color: #999; /* Darker text color on hover for dark mode */
}

.dark-mode .popup-container .result {
  color: #f0f0f0; /* Light text color for dark mode */
}

.dark-mode .popup-container #result_label {
  color: #f0f0f0; /* Light text color for dark mode */
}



#caloriesForm {
  color: black; /* Default text color */
}


/* Dark mode styles */
.dark-mode #caloriesForm {
  color: white; /* Text color in dark mode */
}




/* Default light mode styles */
#quiz_label
{
  color: black; /* Default text color */
}

/* Dark mode styles */
.dark-mode #quiz_label
{
  color: white; /* Text color in dark mode */
}



#quiz_label,
#caloriesForm label {
  color: black; /* Default text color */
}

/* Dark mode styles */
.dark-mode #quiz_label,
.dark-mode #caloriesForm label {
  color: white; /* Text color in dark mode */
}


