/* CSS Styles */
#login-container,
#signup-container {
    background-color: rgb(255, 255, 255);
    width: 600px;
    padding: 20px;
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 8px 8px 16px #8b8b8b, -8px -8px 16px #ffffff;
}

.row {
    display: flex;
    justify-content: space-between;
}

.left-column,
.right-column {
    width: 48%;
}

h2 {
    margin-bottom: 30px;
    font-weight: 500;
    color: rgb(14, 170, 92);
    text-align: center;
    border-bottom: 2px solid rgb(204, 204, 204);
    padding-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: rgb(14, 170, 92);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
#signup-gender {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(204, 204, 204);
    color: rgb(14, 170, 92);
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 18px;
    height: auto;
}

button[type="submit"],
button[type="button"],
#signup-button,
#login-button,
.signup-container-button,
.back-to-login {
    display: inline-block;
    width: 45%;
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: rgb(14, 170, 92);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 30px 10px;
}

button[type="submit"]:hover,
button[type="button"]:hover,
input[type="submit"]:hover,
#signup-button:hover,
#login-button:hover,
.signup-container-button:hover,
.back-to-login:hover {
    border: solid 0.5px;
    background-color: rgb(255, 255, 255);
    color: rgba(14, 170, 92, 0.8);
    transform: scale(1.05);
}

.validation-message {
    color: #ffffff; /* White text color */
    background-color: rgba(255, 0, 0, 0.8); /* Semi-transparent red background */
    border: 1px solid red; /* Red border */
    padding: 10px; /* Padding for better spacing */
    margin: 10px 0; /* Margin to separate from other elements */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    animation: pop 0.3s ease-in-out; /* Animation for popping effect */
}

/* Optional animation keyframes for popping effect */
@keyframes pop {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 800px) {
  #login-container,
  #signup-container {
    width: 88%;
    max-width: 400px;
  }

  .row {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  button[type="submit"],
  button[type="button"],
  #signup-button,
  #login-button,
  .signup-container-button,
  .back-to-login {
    width: 100%;
    margin: 10px auto;
  }
}

#forgot-password {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: rgba(14, 170, 92, 0.8);
  text-decoration: none;
}

#forgot-password:hover {
  text-decoration: underline;
}

/* Dark Mode */
body.dark-mode {
  background-color: #1f1f1f; /* Dark background */
  color: #ffffff; /* White text */
}

body.dark-mode #login-container,
body.dark-mode #signup-container {
  background-color: #333; /* Darker background */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); /* Black shadow */
}

body.dark-mode h2,
body.dark-mode label {
  color: #ffffff; /* White text */
}

body.dark-mode input[type="text"],
body.dark-mode input[type="password"],
body.dark-mode input[type="email"],
body.dark-mode input[type="number"],
body.dark-mode #signup-gender {
  background-color: #555; /* Darker input background */
  color: #ffffff; /* White text */
  
}

body.dark-mode button[type="submit"],
body.dark-mode button[type="button"],
body.dark-mode #signup-button,
body.dark-mode #login-button,
body.dark-mode .signup-container-button,
body.dark-mode .back-to-login {
  background-color: rgb(14, 170, 92); /* Green button background */
  color: #ffffff; /* White text */
}

body.dark-mode button[type="submit"]:hover,
body.dark-mode button[type="button"]:hover,
body.dark-mode input[type="submit"]:hover,
body.dark-mode #signup-button:hover,
body.dark-mode #login-button:hover,
body.dark-mode .signup-container-button:hover,
body.dark-mode .back-to-login:hover {
  background-color: #fff; /* White background on hover */
  color: rgba(14, 170, 92, 0.8); /* Green text on hover */
}
